# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/.vs
/obj
/bin
/imgui.ini
/Lab - State Machines.docx
/Lab – State Machines.pptx
/Lab - State Machines.zip
